<!DOCTYPE html>
<html>
	<head>
	<title>FlairifyMe</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<style>
		body{
			padding-top: 0px;
			padding-bottom: 0px;
		}
		.navbar{
			background-color: #3FADA8;
			top: 0;
			width: 100%;
		}

		.navbar a{
			float: center;
			color: #FFFFFF;
			text-align: center;
			padding: 10px 10px;
			text-decoration: none;
			font-size: 30px;
		}
	</style>
	</head>

	<body>
		<div class='navbar'>
			<div class='container'>
			FlairifyMe - Reddit Flair Detector
			</div>
		</div>
	</body>
</html>